
# Ignore private config files
config.php
root.config.php
config.root.php
root-config.php
config-root.php

# Ignore backup index
_index.html

# Ignore any cache files
cache.*.*

# Ignore the contents of build directories
2011/rpg-prototype-2k11/*
2012/rpg-prototype-2k12/*
2012/rpg-prototype-2k12-2/*
2015/rpg-prototype-2k15/*
2016/rpg-world-2k16/*
2017/rpg-prototype-2k17/*

# ...but not the gitkeep files inside them
!2011/rpg-prototype-2k11/.gitkeep
!2012/rpg-prototype-2k12/.gitkeep
!2012/rpg-prototype-2k12-2/.gitkeep
!2015/rpg-prototype-2k15/.gitkeep
!2016/rpg-world-2k16/.gitkeep
!2017/rpg-prototype-2k17/.gitkeep
