/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126-AGEMOD
   License: none (public domain)
*/

.legacywrap html, .legacywrap body, .legacywrap div, .legacywrap span, .legacywrap applet, .legacywrap object, .legacywrap iframe,
.legacywrap h1, .legacywrap h2, .legacywrap h3, .legacywrap h4, .legacywrap h5, .legacywrap h6, .legacywrap p, .legacywrap blockquote, .legacywrap pre,
.legacywrap a, .legacywrap abbr, .legacywrap acronym, .legacywrap address, .legacywrap big, .legacywrap cite, .legacywrap code,
.legacywrap del, .legacywrap dfn, .legacywrap em, .legacywrap img, .legacywrap ins, .legacywrap kbd, .legacywrap q, .legacywrap s, .legacywrap samp,
.legacywrap small, .legacywrap strike, .legacywrap strong, .legacywrap sub, .legacywrap sup, .legacywrap tt, .legacywrap var,
.legacywrap b, .legacywrap u, .legacywrap i, .legacywrap center,
.legacywrap dl, .legacywrap dt, .legacywrap dd, .legacywrap ol, .legacywrap ul, .legacywrap li,
.legacywrap fieldset, .legacywrap form, .legacywrap label, .legacywrap legend,
.legacywrap table, .legacywrap caption, .legacywrap tbody, .legacywrap tfoot, .legacywrap thead, .legacywrap tr, .legacywrap th, .legacywrap td,
.legacywrap article, .legacywrap aside, .legacywrap canvas, .legacywrap details, .legacywrap embed, .legacywrap
.legacywrap figure, .legacywrap figcaption, .legacywrap footer, .legacywrap header, .legacywrap hgroup, .legacywrap
.legacywrap menu, .legacywrap nav, .legacywrap output, .legacywrap ruby, .legacywrap section, .legacywrap summary,
.legacywrap time, .legacywrap mark, .legacywrap audio, .legacywrap video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.legacywrap article, .legacywrap aside, .legacywrap details, .legacywrap figcaption, .legacywrap figure, .legacywrap
.legacywrap footer, .legacywrap header, .legacywrap hgroup, .legacywrap menu, .legacywrap nav, .legacywrap section {
	display: block;
}
.legacywrap body {
	line-height: 1;
}
.legacywrap ol, .legacywrap ul {
	list-style: none;
}
.legacywrap blockquote, .legacywrap q {
	quotes: none;
}
.legacywrap blockquote:before, .legacywrap blockquote:after,
.legacywrap q:before, .legacywrap q:after {
	content: '';
	content: none;
}
.legacywrap table {
	border-collapse: collapse;
	border-spacing: 0;
}